.nav-link{
    color: #814747;
    transition: 0.5s;
}
.nav-link:hover{
   color: #330a0a ;
}
.nav-pills .nav-link.active{
    background-color: #814747;
    transition: 0.5s;
}
.btn-primary{
    background-color: #814747;
    border: #814747;
    transition: 0.5s;
}
.btn-primary:hover{
    background: #330a0a;
}
.icon-link{
    color: #814747;
    text-decoration-color: #814747;
    transition: 0.5s;
}
.icon-link:hover{
    color: #330a0a;
    text-decoration-color: #330a0a;
}
.nome-prof{
    padding: 20px;
}
.nome-prof .card-text{
    padding-top: 10px;
}
.cabelereiro{
    margin-top: 40px;
}